<!DOCTYPE html>
<html>
<head>
{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login form</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
<link rel="stylesheet" type='text/css' href="{% static 'volunteer/css/login.css' %}">
<script src="https://unpkg.com/htmx.org@1.8.4"></script>
</head>
<body>
    {% csrf_token %}
<header>
<h2>IT HUB</h2>
</header>
<main>
<div class="background">
<div class="circle"></div>
<div class="circle"></div>
</div>
<form method="POST" , action="{% url 'volunteer:login' %}">
    {% csrf_token %}
<input type="text" name="username" placeholder="Username" id="username">
<input type="password" name="password" placeholder="Password" id="password">
<button>Войти</button>
</form>
</main>
<footer>
</footer>
</body>
</html>
